---
layout: default-layout
componentStyles:
  - /styles/modules/Backlink.css
---

{% if customTitle != true %}
  <h1 class="visually-hidden">{{ title }}</h1>
{% endif %}
{% if hideLink != true %}
  {% render 'atom/Backlink/Backlink' %}
{% endif %}
{{ content }}