---
layout: default-layout
title: "Color-experiment"
componentStyles:
- /styles/pages/color-experiment.css
---
<h1>Color experiment</h1>
<p>Here I'll try to acheive a generated color palette that actually works.</p>
<details>
  <summary>
    <h2>But why?</h2>
  </summary>
  <article>
    <h3>A one-size fits all generator</h3>
    <p>Having to swap back and forth between an adobe color wheel is frustrating; especially with finding out 
      what<span>works</span>.</p>
  </article>
</details>